export default {
  title: undefined,
  titleTemplate: '%s | Ram',
  defaultTitle: 'Ram | Engineer, developer and writer',
  description:
    'Full stack web JavaScript developer. Personal blog portfolio website. Showcase of my projects, thoughts related to web and mobile development. Website created with Next.js, MDX, and Tailwind CSS',
  canonical: 'https://ramdev.vercel.app/',
  openGraph: {
    title: "Ram's Website",
    type: 'website',
    locale: 'en_IE',
    url: 'https://www.ramdev.vercel.app',
    site_name: 'ramdev.vercel.app',
    images: [
      {
        url: 'https://ramdev.vercel.app/static/images/banner.png',
        width: 800,
        height: 800,
        alt: 'Og Banner',
      },
    ],
  },
  twitter: {
    handle: '@ramthenmala',
    site: '@ramthenmala',
    cardType: 'summary_large_image',
  },
  additionalMetaTags: [
    {
      name: 'keywords',
      content: `blog, HTML, CSS, JavaScript, Next js, Gatsby, React, Node, Tailwind CSS, React, Node, Docker`,
    },
  ],
};